@page "/options"
@using TranscodeNowWebServer.TranscodeComponents
@inject NavigationManager navManager
@inject IWebHostEnvironment env
@inject IJSRuntime js
@inject Interfaces.IUploadedFileService fileService
@inject Interfaces.IUserOptions userOptionsService
<PageTitle>Options</PageTitle>

@if (fileService.UploadedFileModel is null)
{
    <p>error. fileService is null</p>
    <a href="/upload" class="btn btn-primary">Try again</a>
}
else
{
    <h1 class="text-center">Enter your settings</h1>
    <p class="text-center mx-2">Now we need to know what you want to do to your file:</p>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @*General Settings*@
                <div class="card mb-3">
                    <div class="card-header">
                        General Settings
                    </div>
                    <div class="card-body">
                        <EditForm Model="_generalOptions">
                            <div class="form-group">
                                <span>
                                    Enter a name for the file that will be transcoded:
                                    <span class="help-favicon" @onclick="@(() => HandleHelpClick("filename"))">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                </span>
                                <div class="input-group">
                                    <label class="input-group-text" for="width">File Name:</label>
                                    <InputText @bind-Value="_generalOptions.OutputFileName" class="form-control" id="width" placeholder="Enter name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span>
                                    Output an audio or video file?
                                    <span class="help-favicon" @onclick="@(() => HandleHelpClick("fileOutput"))">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                </span>
                                <div class="">
                                    <InputRadioGroup @bind-Value="_generalOptions.OutputType" class="form-control" id="width" placeholder="Enter name">
                                        @foreach (var type in Enum.GetValues(typeof(GeneralOptions.OutputTypes)))
                                        {
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <InputRadio class="form-check-input" Value="@type" />
                                                    @type
                                                </label>
                                            </div>
                                        }
                                    </InputRadioGroup>
                                </div>
                                @if (_generalOptions.OutputType == GeneralOptions.OutputTypes.Video)
                                {
                                    <div class="form-group">
                                        <label for="videoFormats">
                                            Video Formats
                                            <span class="help-favicon" @onclick="@(() => HandleHelpClick("videoFormats"))">
                                                <i class="fas fa-question-circle"></i>
                                            </span>
                                        </label>
                                        <div class="input-group">
                                            <InputSelect @bind-Value="_generalOptions.VideoFormat" name="videoFormats">
                                                <option value="">-- Select a value --</option>
                                                @foreach (var format in Enum.GetValues(typeof(GeneralOptions.VideoFormats)))
                                                {
                                                    <option value="@format">@format</option>
                                                })
                                            </InputSelect>
                                        </div>
                                    </div>
                                }
                                else if (_generalOptions.OutputType == GeneralOptions.OutputTypes.Audio)
                                {
                                    <div class="form-group">
                                        <label for="audioFormats">
                                            Audio Formats
                                            <span class="help-favicon" @onclick="@(() => HandleHelpClick("audioFormats"))">
                                                <i class="fas fa-question-circle"></i>
                                            </span>
                                        </label>
                                        <div class="input-group">
                                            <InputSelect @bind-Value="_generalOptions.AudioFormat" name="audioFormats">
                                                <option value="">-- Select a value --</option>
                                                @foreach (var format in Enum.GetValues(typeof(GeneralOptions.AudioFormats)))
                                                {
                                                    <option value="@format">@format</option>
                                                })
                                            </InputSelect>
                                        </div>
                                    </div>
                                }
                            </div>
                        </EditForm>
                    </div>
                </div>

                @*Video Settings*@
                @if (_videoOptions is not null)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            Video Settings
                        </div>
                        <div class="card-body">
                            <EditForm Model="@_videoOptions">
                                <div class="section" id="sectionResolution">
                                    <span class="section-title">
                                        Resolution
                                        <span class="help-favicon" @onclick="@(() => HandleHelpClick("resolution"))">
                                            <i class="fas fa-question-circle"></i>
                                        </span>
                                    </span>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="width">
                                                    Width
                                                </label>
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.Width" class="form-control" id="width" min="1" max="4096" placeholder="@InitialVideoStream.Width" />
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">px</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="height">
                                                    Height
                                                </label>
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.Height" class="form-control" id="height" min="1" max="4096" placeholder="@InitialVideoStream.Height" />
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">px</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="bitrate">
                                            Video Bitrate
                                            <span class="help-favicon" @onclick="@(() => HandleHelpClick("videoBitrate"))">
                                                <i class="fas fa-question-circle"></i>
                                            </span>
                                        </label>
                                        <div class="input-group">
                                            <InputNumber @bind-Value="_videoOptions.BitRate" class="form-control" id="bitrate" min="1" max="50000" placeholder="@((int)InitialVideoStream.BitRate / 1000)" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">kbps</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="framerate">
                                            Framerate
                                            <span class="help-favicon" @onclick="@(() => HandleHelpClick("framerate"))">
                                                <i class="fas fa-question-circle"></i>
                                            </span>
                                        </label>
                                        <div class="input-group">
                                            <InputNumber @bind-Value="_videoOptions.FrameRate" class="form-control" id="framerate" min="1" max="120" placeholder="@InitialVideoStream.FrameRate" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">fps</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section" id="sectionTransformation">
                                    <span class="section-title">
                                        Transformation
                                        <span class="help-favicon" @onclick="@(() => HandleHelpClick("transformation"))">
                                            <i class="fas fa-question-circle"></i>
                                        </span>
                                    </span>
                                    <div class="form-group">
                                        <label for="rotation">
                                            Rotation
                                        </label>
                                        <div class="input-group">
                                            <InputNumber @bind-Value="_videoOptions.Rotation" class="form-control" id="rotation" min="0" max="359" placeholder="0 - 359" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">degrees</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="rowFlip">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <InputCheckbox @bind-Value="_videoOptions.HFlip" class="form-check-input" id="flip-horizontal" />
                                                <label class="form-check-label" for="flip-horizontal">
                                                    Flip Horizontally
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <InputCheckbox @bind-Value="_videoOptions.VFlip" class="form-check-input" id="flip-vertical" />
                                                <label class="form-check-label" for="flip-vertical">
                                                    Flip Vertically
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span>
                                            Crop
                                        </span>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="crop-top" class="form-label">Top</label>
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.CropTop" class="form-control" id="crop-top" min="0" max="@InitialVideoStream!.Height" />
                                                    <div class="input-group-append"><span class="input-group-text">px</span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="crop-top" class="form-label">Bottom</label>
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.CropBottom" class="form-control" id="crop-bottom" min="0" max="@InitialVideoStream.Height" />
                                                    <div class="input-group-append"><span class="input-group-text">px</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="crop-top" class="form-label">Left</label>
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.CropLeft" class="form-control" id="crop-left" min="0" max="@InitialVideoStream.Width" />
                                                    <div class="input-group-append"><span class="input-group-text">px</span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="crop-top" class="form-label">Right</label>
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.CropRight" class="form-control" id="crop-right" min="0" max="@InitialVideoStream.Width" />
                                                    <div class="input-group-append"><span class="input-group-text">px</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span>Video Duration</span>
                                    <span class="help-favicon" @onclick="@(() => HandleHelpClick("videoDuration"))">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                    <div class="form-group">
                                        <label for="start-time">
                                            Start Time
                                        </label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.StartTimeHours" class="form-control" id="start-time-hours" min="0" max="23" placeholder="0" />
                                                    <div class="input-group-append"><span class="input-group-text">h</span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.StartTimeMinutes" class="form-control" id="start-time-minutes" min="0" max="59" placeholder="0" />
                                                    <div class="input-group-append"><span class="input-group-text">m</span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.StartTimeSeconds" class="form-control" id="start-time-seconds" min="0" max="59" placeholder="0" />
                                                    <div class="input-group-append"><span class="input-group-text">s</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="end-time">
                                            End Time
                                        </label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.EndTimeHours" class="form-control" id="end-time-hours" min="0" max="23" placeholder="@InitialVideoStream.Duration.Hours" />
                                                    <div class="input-group-append"><span class="input-group-text">h</span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.EndTimeMinutes" class="form-control" id="end-time-minutes" min="0" max="59" placeholder="@InitialVideoStream.Duration.Minutes" />
                                                    <div class="input-group-append"><span class="input-group-text">m</span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <InputNumber @bind-Value="_videoOptions.EndTimeSeconds" class="form-control" id="end-time-seconds" min="0" max="59" placeholder="@InitialVideoStream.Duration.Seconds" />
                                                    <div class="input-group-append"><span class="input-group-text">s</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                }
                @*Audio Settings*@
                @if (_audioOptions is not null)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            Audio Settings
                        </div>
                        <div class="card-body">
                            <EditForm Model="@_audioOptions">
                                <div class="form-group">
                                    <label for="audioChannel">
                                        Audio Channels
                                        <span class="help-favicon" @onclick="@(() => HandleHelpClick("audioChannels"))">
                                            <i class="fas fa-question-circle"></i>
                                        </span>
                                    </label>
                                    <div class="input-group">
                                        <InputSelect @bind-Value="_audioOptions.Channels" name="audioOptions">
                                            <option value="">-- Select an option --</option>
                                            <option class="form-check-input" value="1" id="mono">Mono / 1 Channel</option>
                                            <option class="form-check-input" value="2" id="stereo">Stereo / 2 channels</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="audioBitrate">
                                        Audio Bitrate
                                        <span class="help-favicon" @onclick="@(() => HandleHelpClick("audioBitrate"))">
                                            <i class="fas fa-question-circle"></i>
                                        </span>
                                    </label>
                                    <div class="input-group">
                                        <InputSelect id="audioBitrate" @bind-Value="_audioOptions.AudioBitrate">
                                            <option value="">-- Select an option --</option>
                                            <option value="64">64 kbps</option>
                                            <option value="96">96 kbps</option>
                                            <option value="128">128 kbps</option>
                                            <option value="192">192 kbps</option>
                                            <option value="256">256 kbps</option>
                                            <option value="320">320 kbps</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <label for="audioNormalize" class="form-check-label">
                                        <InputCheckbox class="form-check-input" id="audioNormalize" @bind-Value="_audioOptions.NormalizeAudio" />
                                        Normalize audio
                                    </label>
                                    <span class="help-favicon" @onclick="@(() => HandleHelpClick("normalizeAudio"))">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                </div>
                                @if (InitialAudioStream is not null && InitialVideoStream is not null)
                                {
                                    <div class="form-check">
                                        <label for="audioRemove" class="form-check-label">
                                            <InputCheckbox class="form-check-input" id="audioRemove" @bind-Value="_audioOptions.RemoveTrack" />
                                            Remove audio
                                        </label>
                                        <span class="help-favicon" @onclick="@(() => HandleHelpClick("removeAudio"))">
                                            <i class="fas fa-question-circle"></i>
                                        </span>
                                    </div>
                                }
                            </EditForm>
                        </div>
                    </div>
                }

                @*Summary*@
                <div class="card mb-3">
                    <div class="card-header">
                        All done?
                    </div>
                    <div class="card-body">
                        <p>Applied all the settings you want? Click the button below to start your transcode!</p>
                        <button type="button" class="btn btn-primary btn-block text-center" @onclick="OnButtonClick">TranscodeNow!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="helpModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@ModalTitle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>@ModalMessage</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}